@charset "utf-8";


:root {
  --layoutHeight: calc(100vh - 5.8rem);
}
.VerticalMain{
  position: absolute;
  right: 0px;  
}

.VerticalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: -10px;
  height: 84vh;
  
}

.VerticalSection1,
.VerticalSection2 {


}

.VerticalSection2 {
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .VerticalContainer {
    background-color: white;
    margin-top: 2rem;
  }

  .VerticalSection2 {
    /* height: calc(var(--layoutHeight) / 4) !important; */
    border-bottom: 1px solid grey;
  }

  .VerticalSection1,
  .VerticalSection2 {
    border-left: 1px solid grey;
    border-radius: 5px;
  }

  .VerticalSection1 {
    border-top: 1px solid grey;
    margin-top: 1rem;
  }

}
