.forgotPasswordContainer {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 28.7rem;
  left: 10vw;
  top: 25vh;
  border: 1px solid #cdd3db;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 4px rgb(0 0 0 / 20%);
  padding: 3rem;
}
.forgotPasswordTitle,
.forgotPasswordInfoText {
  width: 90%;
}
.forgotPasswordTitle {
  text-align: center;
  font-size: 30px;
  font-family: arial;
}
.forgotPasswordForm {
  width: 80%;
}
.forgotPasswordLabel {
  font-weight: bold;
}
.forgotPasswordWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 22px;
  background: #fbfcfe;
  border: 1px solid #cdd3db;
  box-sizing: border-box;
  border-radius: 10px;
}
.forgotPasswordFormInput {
  padding-left: 10px;
  border: none;
  width: 100%;
  background: none !important;
  margin-left: 0.3rem;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.forgotPasswordLoginButton {
  height: 40px;
  width: 200px;
  background-color: #cdd3db;
  border: 1px solid #cdd3db;
  box-sizing: border-box;
  border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
  .forgotPasswordContainer {
    left: 0;
    margin: auto !important;
    position: relative;
    width: 80%;
    top: 10vh;
  }
}
