@charset "utf-8";

.CompanyChatsLayout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  cursor: pointer;
  margin-top: 0.3rem;
}

.CompanyChatsUserImg {
  width: 15%;
  margin-left: 1rem;
}

.CompanyChatsMessager {
  width: 80%;
  border-bottom: 1.8px solid #c0c2c4;
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 0.5rem;
}

.CompanyChatsUser {
  font-weight: bold;
  font-size: 18px;
}

.CompanyChatsUserMessageCount {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #2ea8b7;
  text-align: center;
  font-size: 16px;
}
